@media screen and (max-width:456px) {
    *{
        margin: 0px;
        padding: 0px;
    }
        .a1{
            display: none;
        }
        #pg1{
            position: absolute;
            left: 50%;
        }
        #pg2{
            
            position: absolute;
            right: 0%;
        }
        .head{
            background-image: url(img/Screenshot_2020-10-24\ Official\ Apple\ Support.png);
            background-repeat: no-repeat;
        }
        #da {
            width: 100%;
            background-size: 100% 230px;
            background-image: url(img/fff.png);
            background-repeat: no-repeat;
            position: relative;
        }
        #h{
            position: absolute;
            left: 10%;
        }
        #da #h h1{
                width: 380px;
                position: absolute;
                top: 200px;
                font-size: 31px;
        }
        #row{
            position: absolute;
            top: 350px;
            left: 10%;
            border: 1px gray solid;
            width: 360px;
        }
        #zhuang{
            width: 100%;
            position: relative;
            top: -80px
        }
        #zhuang .ni{
            margin: 20px 70px;
        }
        .ni1{
            margin: 20px 70px;
        }
        #zhuang3 {
            margin-top: 400px;
        }
        .container{
            position: relative;
        }
        #zhuang3 .tu{
            padding: 10px;
            margin-top: -60px;
            margin-bottom: 150px;
            margin-left: -50px;
            border-top: 1px rgb(233, 230, 230) solid ;
        }
        #zhuang2{
            margin-top: 260px;
        }
        #zhuang2 .right{
            position: absolute;
            top: 45px;
            left: 30px;  
        }
        #zhuang2 .left{
            position: absolute;
            top: 250px;
            left: 20px;
        }
        #zhuang2  h1{
            margin-left: 60px;
        }
        #zhuang2 p{
            font-size: 19px;
            font-weight: 300;
            color: rgb(80, 77, 77);
        }
        #zhuang21{
            margin-top: 200px;
            border: none;
        }
        #zhuang21 .left1{
            position: absolute;
            top: 45px;
            left: 30px;
        }
        #zhuang21 .right1{
            position: absolute;
            top: 250px;
            left: 20px;
        }
        #zhuang21 p{
            font-size: 19px;
            font-weight: 300;
            color: rgb(80, 77, 77);
            border: none;
        }
        #datu1{
            margin-top: 250px;
            background-size:100% 320px;
            background-repeat: no-repeat;
        }
        #datu1 .zier{
            display: none;
        }
        .foot img{
            display: none;   
        }
        .foot{
            position: relative;
            margin-top: 200px;
            background-image: url(img/foota1.png);
            height: 580px;
        }
        .tupiana{
          display: none;
        }
        #zhuang22{
            border: none;
        }
        #zhuang22 .left2{
            position: absolute;
            top: 50px;
            left: 20px;
        }
        #zhuang22 .right2{
            position: absolute;
            top: 250px;
            left: 20px;
        }
        .right2 p{
            font-size: 19px;
            color: rgb(80, 77, 77);
        }
        #zizi{
            margin-top: 200px;
            border-bottom: none;
        }
        #zizi .p1{
            width: 100%;
        }
        #zhuang111{
           margin-top: 250px;
           border-bottom: none;
        }
        #zhuang111 img{
            position: absolute;
            left: -50px;
        }
        #zhuang111 .right3{
            position: absolute;
            top: 200px;
            left: 20px;
        }
        #wu{
            margin-top: 100px;
            border: none;
        }
        .pl{
            position: absolute;
            left: 10px;
            width: 90%;
        }
        .pl h2{
            font-size: 20px;
            width: 100%;
        }
        .pl ul{
            width: 100%;
        }
        #wu a{
           line-height: 40px;
        }
        .foot p{
            display: none;
        }
    }
